<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please enter EmailId & Password </h6>
                </div>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input formControlName="Email"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                        <div class="mb-3">
                          <label for="password" class="form-label">Password</label>
                          <input formControlName="Password" type="password" class="form-control" id="password">
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Login</button>
                      </form>
                     <a style="color:white; margin-top:10px" routerLink="/signup">New User? Click to SignUp..</a> 
                     <a style="color:white; margin-top:10px" routerLink="/forgetpass">Forget Password</a>
            </div>
        </div>
    </div>
</div>

