<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h2>Forget Password</h2>
                </div>
            <form>
                <div class="mb-4">
                      <label for="Emailid" class="form-label">Enter EmailId</label>
                      <input formControlName="Email"  type="email" class="form-control" id="Emailid" aria-describedby="emailHelp">
                </div>
                  <button type="submit" class="btn btn-primary mb-2">Send Reset Link</button>
            </form>
            </div>
        </div>
    </div>
</div>

